.video-container {
  height: 700px;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .content {
  z-index: 1;
  position: relative;
}


